.VPHome {
  // 定义遮罩样式
  background: radial-gradient(ellipse,
      rgba(var(--bg-gradient-home), 1) 0%,
      rgba(var(--bg-gradient-home), 0) 150%);

  // 自定义首页背景图
  &::before {
    // 图片来源：https://zhuanlan.zhihu.com/p/54060187
//    background-image: url(./assets/bg.webp);
    background-image: url(./assets/background.png);
    background-size: cover;
  }
}


/*图片转圈圈效果*/
.m-home-layout {
    .image-src:hover {
        transform: translate(-50%, -50%) rotate(666turn);
        transition: transform 59s 1s cubic-bezier(0.3, 0, 0.8, 1);
    }
}

/* 首页样式修改 */
.VPHero {
    .image-bg {  //修改图片样式
        opacity: 0.8;
        transition: opacity 1s ease;
    }
    .text { //修改文案样式
        line-height: 64px;
        font-size: 42px;
    }
}